.clearfix {
  content: "";
  display: table;
  clear: both;
}

.navigation-container {
  margin-bottom: 85px;
}
.navigation-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation-container ul li {
  display: inline-block;
  padding-left: 10px;
  margin-right: 20px;
}
.navigation-container ul li:last-child {
  margin-right: 0;
}
.navigation-container ul li .links {
  color: #909699;
  text-decoration: underline;
}
.navigation-container ul li .links:hover {
  color: #0F5FAD;
}
.navigation-container ul li .active-link {
  color: #0F5FAD;
  text-decoration: underline;
}

.main-content-law {
  font-size: 0;
}
.main-content-law .main-title-article h1 {
  font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
  font-size: 48px;
}
.main-content-law .main-title-article h4 {
  font-family: "Elektra Light Pro", Arial, sans-serif;
  font-size: 21px;
  margin-bottom: 25px;
}
.main-content-law .main-type-description p {
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}
.main-content-law .main-type-description .main-types-list {
  margin-bottom: 90px;
}
.main-content-law .main-type-description .main-types-list .list {
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}
.main-content-law .main-type-description .main-types-list .list p {
  margin: 0;
}
.main-content-law .main-type-description .main-types-list .list .header-types {
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  color: #DD621D;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category {
  display: block;
  width: 813px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  background-color: #C4E2F3;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category ul .category-block {
  display: inline-block;
  width: 335px;
  padding: 15px 38px 15px 38px;
  vertical-align: top;
  color: #DD621D;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category ul .category-block:first-child {
  margin-right: 75px;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category ul .category-block:last-child {
  padding-right: 0;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category ul li {
  color: #DD621D;
}
.main-content-law .main-type-description .main-types-list .list .types-laws-category ul li p {
  margin: 0;
  color: black;
}
.main-content-law .sub-title-article {
  margin-bottom: 25px;
}
.main-content-law .sub-title-article h2 {
  display: block;
  width: 700px;
  font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-content-law .sub-title-article h4 {
  font-family: "Elektra Light Pro", Arial, sans-serif;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 25px;
}
.main-content-law .sub-content-description {
  font-size: 0;
}
.main-content-law .sub-content-description .sub-work-description {
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
}
.main-content-law .sub-content-description .sub-work-types {
  display: block;
  width: 850px;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  color: white;
  background-color: #4586C1;
}
.main-content-law .sub-content-description .sub-work-types img {
  width: 119px;
  height: 120px;
  margin-bottom: 30px;
}
.main-content-law .sub-content-description .sub-work-types .work-types-block {
  display: inline-block;
  width: 25%;
  float: left;
  vertical-align: top;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 35px;
  margin-right: 35px;
}
.main-content-law .sub-content-description .sub-work-types .work-types-block:last-child {
  margin-right: 0;
}
.main-content-law .sub-content-description .sub-work-types .work-types-block img {
  margin-left: 35px;
}
.main-content-law .sub-content-description .sub-work-types .work-types-block h2 {
  font-family: "Elektra Medium Pro Regular", Arial, sans-serif;
  font-size: 18px;
}
.main-content-law .sub-content-description .sub-work-types .work-types-block p {
  margin: 0;
}
.main-content-law .footer-section-description {
  margin: 0;
  padding: 0;
}
.main-content-law .footer-section-description .law-description-footer {
  position: relative;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 15px;
  padding-left: 120px;
  margin-bottom: 0;
}
.main-content-law .footer-section-description .law-description-footer:first-child {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.main-content-law .footer-section-description .law-description-footer:first-child:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 15px;
  width: 64px;
  height: 60px;
  background: url(../images/tz-7/BlueSymb.png) no-repeat;
}
.main-content-law .footer-section-description .law-description-footer:nth-child(2n) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}
.main-content-law .footer-section-description .law-description-footer:nth-child(2n):after {
  content: "";
  position: absolute;
  top: 25px;
  left: 15px;
  width: 67px;
  height: 60px;
  background: url(../images/tz-7/RedSymb.png) no-repeat;
}
.main-content-law .footer-section-description .helper-description {
  font-size: 15px;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  margin-bottom: 25px;
}
.main-content-law .footer-section-description .btn-order {
  display: block;
  width: 42%;
  min-height: 20px;
  padding: 12px 40px 12px 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Elektra Text Pro", Arial, sans-serif;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #FF0000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.main-content-law .modal-block {
  display: block;
  position: fixed;
  width: 550px;
  height: 420px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  z-index: 5;
  background-color: #4586c1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 10px 21px -4px rgba(0, 0, 0, 0.5);
}
.main-content-law .modal-block .close-modal-block {
  content: "";
  position: absolute;
  top: 20px;
  right: 15px;
  width: 23px;
  height: 23px;
  background: url(../images/icon-cross-x.png) no-repeat;
  cursor: pointer;
}
.main-content-law .modal-block .header-modal {
  width: 440px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.main-content-law .login-form {
  width: 510px;
  height: 290px;
  border: 5px solid white;
  margin-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.main-content-law .login-form label {
  display: block;
  width: 55%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: white;
}
.main-content-law .login-form label:first-child {
  margin-top: 10px;
}
.main-content-law .login-form input {
  display: block;
  width: 55%;
  font-size: 12px;
  min-height: 30px;
  padding: 10px 5px 10px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: #346898;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-law .login-form input:hover {
  opacity: 0.8;
  border: 2px dotted #346898;
}
.main-content-law .login-form input:focus {
  opacity: 0.6;
  border: 2px solid #346898;
}
.main-content-law .login-form .btn-send {
  display: block;
  width: 20%;
  font-size: 12px;
  min-height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #FF0000;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-content-law .login-form .btn-send:hover {
  border: none;
  opacity: 0.9;
  background-color: #FF2020;
  transform: scale(1.15, 1.15);
}
.main-content-law .modal-block-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  width: 306px;
  height: 120px;
  border: 3px solid #FF0000;
  background-color: #346898;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.main-content-law .modal-block-success p {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: white;
}
.main-content-law .modal-block-success a {
  display: block;
  width: 35%;
  min-height: 35px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #FF0000;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-content-law .modal-block-success a:hover {
  opacity: 0.9;
  background-color: #FF2020;
  text-decoration: none;
  transform: scale(1.15, 1.15);
}
.main-content-law .modal-block-success a:visited {
  text-decoration: none;
}
.main-content-law .modal-block-success a:active {
  text-decoration: none;
}
.main-content-law .modal-block-error-email {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  width: 350px;
  height: 120px;
  border: 3px solid #FF0000;
  background-color: #346898;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.main-content-law .modal-block-error-email p {
  display: block;
  width: 300px;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  text-align: center;
  color: white;
}
.main-content-law .modal-block-error-email a {
  display: block;
  width: 35%;
  min-height: 35px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #FF0000;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main-content-law .modal-block-error-email a:hover {
  opacity: 0.9;
  background-color: #FF2020;
  text-decoration: none;
  transform: scale(1.15, 1.15);
}
.main-content-law .modal-block-error-email a:visited {
  text-decoration: none;
}
.main-content-law .modal-block-error-email a:active {
  text-decoration: none;
}
.main-content-law .hide {
  display: none;
}
.main-content-law .show {
  display: block;
  -webkit-animation: bounce .6s;
  animation: bounce .6s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*
*
Media Phone
*
*/
@media only screen and (max-width: 480px) {
  .main-content-law .main-title-article h1 {
    width: 100%;
    margin-top: 20px;
    font-size: 28px;
  }
  .main-content-law .main-title-article .main-title-type {
    font-size: 18px;
  }
  .main-content-law .sub-title-article h2 {
    display: block;
    width: 100%;
    font-size: 26px;
  }
  .main-content-law .sub-title-article h4 {
    font-size: 18px;
  }
  .main-content-law .sub-content-description p:last-child {
    margin-bottom: 20px;
  }
  .main-content-law .sub-content-description .sub-work-types {
    width: 100%;
  }
  .main-content-law .sub-content-description .sub-work-types .work-types-block {
    display: block;
    width: 80%;
  }
  .main-content-law .footer-section-description .law-description-footer {
    width: 100%;
    padding: 0;
  }
  .main-content-law .footer-section-description p:first-child:after {
    display: none;
    content: "";
  }
  .main-content-law .footer-section-description p:nth-child(2n):after {
    display: none;
    content: "";
  }
  .main-content-law .footer-section-description .btn-order {
    display: block;
    width: 100%;
    font-size: 14px;
  }
}
/*
*
Tablet
*
*/
@media only screen and (max-width: 768px) {
  .main-content-law .main-title-article h1 {
    width: 100%;
    margin-top: 20px;
    font-size: 28px;
  }
  .main-content-law .main-title-article .main-title-type {
    font-size: 18px;
  }
  .main-content-law .sub-title-article h2 {
    display: block;
    width: 100%;
    font-size: 26px;
  }
  .main-content-law .sub-title-article h4 {
    font-size: 18px;
  }
  .main-content-law .sub-content-description p:last-child {
    margin-bottom: 20px;
  }
  .main-content-law .sub-content-description .sub-work-types {
    width: 100%;
    text-align: center;
  }
  .main-content-law .sub-content-description .sub-work-types .work-types-block {
    display: block;
    text-align: center;
    width: 80%;
  }
  .main-content-law .sub-content-description .sub-work-types .work-types-block img {
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-law .footer-section-description .law-description-footer {
    width: 100%;
    padding: 0;
  }
  .main-content-law .footer-section-description p:first-child:after {
    display: none;
    content: "";
  }
  .main-content-law .footer-section-description p:nth-child(2n):after {
    display: none;
    content: "";
  }
  .main-content-law .footer-section-description .btn-order {
    display: block;
    width: 60%;
    font-size: 14px;
  }
}
