// Requirements
// ============

@import "susy";

$susy: (
  columns: 8,
  gutters: 1/4,
  container: 56.25em,
  math: fluid,
  output: float,
  gutter-position: inside,
  
  debug: (
    image: show,
    color: rgba(#66f, .5),
    output: background,
    toggle: top right,
  )
  
);

.main {
  @include container();
  @include breakpoint(768px) {
    margin: 0;
  }
}